@import '../../style/colors.css';

#dashboard {
    padding: 5em;
}

.red {
    color: var(--primary-color);
}

h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0.8em;
}

#evaluation {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 2em;
}

#graphsContainer {
    display: flex;
}

.graphHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5em;
}

.graphHeader {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 1em;
}

.graphLegend {
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.grey {
    color: var(--quaternary-color);
    font-size: 14px;
}

.dot {
    padding: 1em 1em 1em 3em
}

#conso {
    padding: 0 7em;
}

#graphsLayout {
    display: flex;
}