#radarChartContainer {
    align-self: center;
    width: 35%;
    margin: 1em 0 0 1em;
    background: #282D30;
    border-radius: 0.5em;
}

#radarChart {
    background: #282D30;
    border-radius: 0.5em;
    margin: 0 1em;
    max-width: 310px;
}